<div class="container container-full">
        
       <div class="row header-block"> <h1 class="header-info">Narrow Down Your Chinese Menu Choice</h1></div>
      
        
            
        <div class="row form-group">
             <label for="searchTerm" class="col-sm-3 control-label">Search by description</label>
             <div class="col-sm-6">
                 <input id="searchTerm" type="text" 
                    placeholder="search term / for example: chicken" 
                    class="form-control findByTerm" 
                    ng-model="searchCtrl.searchTerm"
                    ng-blur="searchCtrl.findByTerm()"
                    >
             </div>
             <div class="col-sm-3">
                 <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" ng-click="searchCtrl.refreshItems()" class="btn btn-default btn-lg btn-block button-filter">
                           <span class="glyphicon glyphicon-remove"></span> Remove all filters
                        </button>
                    </div>
                 </div>
             </div>

        </div>
        
        <div class="row form-group">
            <label for="categorySelect" class="col-sm-3 control-label">Search by category</label>
            <div class="col-sm-6">
                <select 
                    name="categorySelect"
                    id="categorySelect"
                    ng-model="searchCtrl.selectedCat"
                    ng-options="x.name for x in searchCtrl.categories"
                    ng-change="searchCtrl.filterCategory()" 
                    class="form-control">
                     <option value="">---Please select category---</option>
               
                </select>
            </div>
          
        </div>
         
       
        <div class="row">
            <h3 class="header-info">Sort (ascendant)</h3>
            
            <div class="col-sm-3">
                 <button type="button" ng-click="searchCtrl.changeSortParam('name')" class="btn btn-default btn-lg btn-block button-filter">
                      <span class="glyphicon glyphicon-arrow-up"></span> By name
                 </button>
            </div>
            
            <div class="col-sm-3">
                <button type="button" ng-click="searchCtrl.changeSortParam('short_name')" class="btn btn-default btn-lg btn-block button-filter">
                    <span class="glyphicon glyphicon-arrow-up"></span> By category
                </button>
            </div>
            
            <div class="col-sm-3">
                 <button type="button" ng-click="searchCtrl.changeSortParam('price_large')" class="btn btn-default btn-lg btn-block button-filter">
                     <span class="glyphicon glyphicon-arrow-up"></span> By price
                 </button>
            </div>
            
             <div class="col-sm-3">
                <button type="button" ng-click="searchCtrl.changeSortParam('large_portion_name')" class="btn btn-default btn-lg btn-block button-filter">
                    <span class="glyphicon glyphicon-arrow-up"></span> By portion name
                </button>
            </div>
        </div>
        
        <div class="row">
             <h3 class="header-info">Sort (descending)</h3>
            
            <div class="col-sm-3">
                <button type="button" ng-click="searchCtrl.changeSortParam('name', true)" class="btn btn-default btn-lg btn-block button-filter">
                    <span class="glyphicon glyphicon-arrow-down"></span> By name
                </button>
            </div>
            
            <div class="col-sm-3">
                <button type="button" ng-click="searchCtrl.changeSortParam('short_name', true)" class="btn btn-default btn-lg btn-block button-filter">
                    <span class="glyphicon glyphicon-arrow-down"></span> By category
                </button>
            </div>
            
            <div class="col-sm-3">
                <button type="button" ng-click="searchCtrl.changeSortParam('price_large', true)" class="btn btn-default btn-lg btn-block button-filter">
                    <span class="glyphicon glyphicon-arrow-down"></span> By price
                </button>
            </div>
            
             <div class="col-sm-3">
                <button type="button" ng-click="searchCtrl.changeSortParam('large_portion_name', true)" class="btn btn-default btn-lg btn-block button-filter">
                    <span class="glyphicon glyphicon-arrow-down"></span> By portion name
                </button>
            </div>
        </div>
        
     
        <div class="row"> 
            
            <h3 class="header-info">Price range</h3>
            <!--  https://github.com/angular-slider/angularjs-slider  -->
            <rzslider 

                rz-slider-model="searchCtrl.slider.min"
                rz-slider-high="searchCtrl.slider.max"
                rz-slider-options="searchCtrl.slider.options"
            >

            </rzslider>
            
        </div>
                
        
                       
       
        
        <found-items 
            items="searchCtrl.items" 
            quantity="searchCtrl.quantity" 
            remove-item="searchCtrl.removeItem(id)" 
            show-warning-message="searchCtrl.showWarningMessage" 
            warning-message="searchCtrl.warningMessage" 
            search-term="searchCtrl.searchTerm"
            sort-param="searchCtrl.sortParam"
            refresh-items="searchCtrl.refreshItems"
            slider-min="searchCtrl.slider.min"
            slider-max="searchCtrl.slider.max"
                       
           >
                
        </found-items>

</div>