body {
  font-size: 1.7em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.activeLink {
  font-weight: bold;
  /*color: red;*/
  background-color: bisque;
}

.activeLink:focus{
    color: red;
}

.navbar-default .navbar-nav>li>a.activeLink:focus{
     background-color: bisque;
}

.list-group-item a:hover{
   color: #6ec2bb;
}

.list-group-item .activeSideLink{
    color: white;
    background-color: #6ec2bb;
    display: block;
    padding-left: 20%;
    text-decoration: none;
}

.list-group-item .activeSideLink:focus{
    color: white;
    background-color: #6ec2bb;
    padding-left: 20%;
    text-decoration: none;
}

.list-group-item .activeSideLink:hover{
    color: white;
    text-decoration: none;
}

.navbar-custom{
    margin-bottom: -48px;
    width: 100%;
}

.category{
    border-bottom: 1px solid brown;
    padding: 10px 0;
}

.header-info{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron.welcome{
    text-align: center;
    color: brown;
    border: 2px solid brown;
}

.page-heading{
    text-align: center;
    padding: 20px 10px;
}

div.footer{
    min-height: 100px;
/*    background-color: brown;*/
    color: white;
/*    text-align: center;
    font-size: 3em;*/
}

/*.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}*/
